DataVaultFactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVaultFactory"
		},
		"AzurePostgreSql1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzurePostgreSql1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"BlobStorageLinkedServices_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlobStorageLinkedServices'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LoadCustomer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HubCustomer",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Load_Hub_Customer",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CustomerInfo": {},
									"HubCustomerSource": {},
									"HubCustomer": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-08T12:06:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Load_Hub_Customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadStore')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_Hub_Store",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Load_Hub_Store",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StoreSource": {},
									"HubStoreSource": {},
									"HubStore": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Load_Sat_Store",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Load_Hub_Store",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Load_Sat_Store",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceStore": {},
									"SATStoreSource": {},
									"SatStore": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-01T07:52:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Load_Hub_Store')]",
				"[concat(variables('factoryId'), '/dataflows/Load_Sat_Store')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadWarehouse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_Hub_Warehouse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Load_Hub_Warehouse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"WarehouseSource": {},
									"HubWarehouseSource": {},
									"HubWarehouse": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Load_Sat_Warehouse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Load_Sat_Warehouse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"WarehouseSource": {},
									"SATWarehouseSource": {},
									"SatWarehouse": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-01T13:29:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Load_Hub_Warehouse')]",
				"[concat(variables('factoryId'), '/dataflows/Load_Sat_Warehouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Store_Warehouse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoadStoreWarehouse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Link_Store_Warehouse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"HubStoreWarehouse": {},
									"StoreWarehouseSource": {},
									"StoreWarehouse": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Link_Store_Warehouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HubCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "HK_CUSTOMER_ID",
						"type": "varbinary"
					},
					{
						"name": "CUSTOMER_ID",
						"type": "varchar"
					},
					{
						"name": "LOAD_DTS",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "REC_SRC",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HUB_CUSTOMER"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HubStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "HK_STORE_ID",
						"type": "varbinary"
					},
					{
						"name": "STORE_ID",
						"type": "varchar"
					},
					{
						"name": "LOAD_DTS",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "REC_SRC",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HUB_STORE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HubWarehouse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "HK_WAREHOUSE_ID",
						"type": "varbinary"
					},
					{
						"name": "WAREHOUSE_ID",
						"type": "varchar"
					},
					{
						"name": "LOAD_DTS",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "REC_SRC",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HUB_WAREHOUSE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Link_Store_Warehouse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "HK_L_STORE_WAREHOUSE",
						"type": "varbinary"
					},
					{
						"name": "HK_STORE_ID",
						"type": "varbinary"
					},
					{
						"name": "HK_WAREHOUSE_ID",
						"type": "varbinary"
					},
					{
						"name": "LOAD_DTS",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "REC_SRC",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "LINK_STORE_WAREHOUSE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSQL_CustomerInfo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "salutation",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "first_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "last_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dob",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "birth_country",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "email_address",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "phone_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "phone_number_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "address_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "country",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "county",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "state",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "city",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "street_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "street_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "zip",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "retail",
					"table": "custmer_info"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SATStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "HK_STORE_ID",
						"type": "varbinary"
					},
					{
						"name": "LOAD_DTS",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "STORE_NAME",
						"type": "varchar"
					},
					{
						"name": "NUMBER_EMPLOYEES",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WORKING_HOURS",
						"type": "varchar"
					},
					{
						"name": "MANAGER_NAME",
						"type": "varchar"
					},
					{
						"name": "STREET_NUMBER",
						"type": "varchar"
					},
					{
						"name": "STREET_NAME",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "STATE",
						"type": "varchar"
					},
					{
						"name": "ZIP",
						"type": "varchar"
					},
					{
						"name": "COUNTRY",
						"type": "varchar"
					},
					{
						"name": "REC_SRC",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SAT_STORE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SatCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "HK_CUSTOMER_ID",
						"type": "varbinary"
					},
					{
						"name": "LOAD_DTS",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SALUTATION",
						"type": "varchar"
					},
					{
						"name": "FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "DOB",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BIRTH_COUNTRY",
						"type": "varchar"
					},
					{
						"name": "EMAIL_ADDRESS",
						"type": "varchar"
					},
					{
						"name": "REC_SRC",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SAT_CUSTOMER"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SatWarehouse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "HK_WAREHOUSE_ID",
						"type": "varbinary"
					},
					{
						"name": "LOAD_DTS",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WAREHOUSE_NAME",
						"type": "varchar"
					},
					{
						"name": "STREET_NUMBER",
						"type": "varchar"
					},
					{
						"name": "STREET_NAME",
						"type": "varchar"
					},
					{
						"name": "STREET_TYPE",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "STATE",
						"type": "varchar"
					},
					{
						"name": "ZIP",
						"type": "varchar"
					},
					{
						"name": "COUNTRY",
						"type": "varchar"
					},
					{
						"name": "REC_SRC",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SAT_WAREHOUSE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoreSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageLinkedServices",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "STORE_INFO.csv",
						"container": "oltp"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "STORE_ID",
						"type": "String"
					},
					{
						"name": "WAREHOUSE_ID",
						"type": "String"
					},
					{
						"name": "WAREHOUSE_NAME",
						"type": "String"
					},
					{
						"name": "WAREHOUSE_COUNTRY",
						"type": "String"
					},
					{
						"name": "WAREHOUSE_STATE",
						"type": "String"
					},
					{
						"name": "WAREHOUSE_CITY",
						"type": "String"
					},
					{
						"name": "WAREHOUSE_STREET_NUMBER",
						"type": "String"
					},
					{
						"name": "WAREHOUSE_STREET_NAME",
						"type": "String"
					},
					{
						"name": "WAREHOUSE_STREET_TYPE",
						"type": "String"
					},
					{
						"name": "WAREHOUSE_ZIP",
						"type": "String"
					},
					{
						"name": "STORE_NAME",
						"type": "String"
					},
					{
						"name": "STORE_COUNTRY",
						"type": "String"
					},
					{
						"name": "STORE_COUNTY",
						"type": "String"
					},
					{
						"name": "STORE_STATE",
						"type": "String"
					},
					{
						"name": "STORE_CITY",
						"type": "String"
					},
					{
						"name": "STORE_STREET_NUMBER",
						"type": "String"
					},
					{
						"name": "STORE_STREET_NAME",
						"type": "String"
					},
					{
						"name": "STORE_ZIP",
						"type": "String"
					},
					{
						"name": "NUMBER_EMPLOYEES",
						"type": "String"
					},
					{
						"name": "WORKING_HOURS",
						"type": "String"
					},
					{
						"name": "MANAGER_NAME",
						"type": "String"
					},
					{
						"name": "SALES_PERSON_ID",
						"type": "String"
					},
					{
						"name": "SALES_PERSON_TYP",
						"type": "String"
					},
					{
						"name": "SALES_PERSON_TITLE",
						"type": "String"
					},
					{
						"name": "SALES_PERSON_FIRST_NAME",
						"type": "String"
					},
					{
						"name": "SALES_PERSON_LAST_NAME",
						"type": "String"
					},
					{
						"name": "SALES_PERSON_SUFFIX",
						"type": "String"
					},
					{
						"name": "SALES_PERSON_EMAIL_ADDRESS",
						"type": "String"
					},
					{
						"name": "SALES_PERSON_PHONE_NUMBER",
						"type": "String"
					},
					{
						"name": "SALES_PERSON_PHONE_NUMBER_TYPE",
						"type": "String"
					},
					{
						"name": "SALES_QUOTA",
						"type": "String"
					},
					{
						"name": "SALES_PERSON_BONUS",
						"type": "String"
					},
					{
						"name": "COMMISSION_PCT",
						"type": "String"
					},
					{
						"name": "SALES_YTD",
						"type": "String"
					},
					{
						"name": "SALES_LAST_YEAR",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageLinkedServices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('AzurePostgreSql1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorageLinkedServices')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlobStorageLinkedServices_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Link_Store_Warehouse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "StoreSource",
								"type": "DatasetReference"
							},
							"name": "HubStoreWarehouse"
						},
						{
							"dataset": {
								"referenceName": "Link_Store_Warehouse",
								"type": "DatasetReference"
							},
							"name": "StoreWarehouseSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Link_Store_Warehouse",
								"type": "DatasetReference"
							},
							"name": "StoreWarehouse"
						}
					],
					"transformations": [
						{
							"name": "SelectTransformation"
						},
						{
							"name": "DataConversion"
						},
						{
							"name": "OnlyNewRecords"
						}
					],
					"script": "source(output(\n\t\tSTORE_ID as string,\n\t\tWAREHOUSE_ID as string,\n\t\tWAREHOUSE_NAME as string,\n\t\tWAREHOUSE_COUNTRY as string,\n\t\tWAREHOUSE_STATE as string,\n\t\tWAREHOUSE_CITY as string,\n\t\tWAREHOUSE_STREET_NUMBER as string,\n\t\tWAREHOUSE_STREET_NAME as string,\n\t\tWAREHOUSE_STREET_TYPE as string,\n\t\tWAREHOUSE_ZIP as string,\n\t\tSTORE_NAME as string,\n\t\tSTORE_COUNTRY as string,\n\t\tSTORE_COUNTY as string,\n\t\tSTORE_STATE as string,\n\t\tSTORE_CITY as string,\n\t\tSTORE_STREET_NUMBER as string,\n\t\tSTORE_STREET_NAME as string,\n\t\tSTORE_ZIP as string,\n\t\tNUMBER_EMPLOYEES as string,\n\t\tWORKING_HOURS as string,\n\t\tMANAGER_NAME as string,\n\t\tSALES_PERSON_ID as string,\n\t\tSALES_PERSON_TYP as string,\n\t\tSALES_PERSON_TITLE as string,\n\t\tSALES_PERSON_FIRST_NAME as string,\n\t\tSALES_PERSON_LAST_NAME as string,\n\t\tSALES_PERSON_SUFFIX as string,\n\t\tSALES_PERSON_EMAIL_ADDRESS as string,\n\t\tSALES_PERSON_PHONE_NUMBER as string,\n\t\tSALES_PERSON_PHONE_NUMBER_TYPE as string,\n\t\tSALES_QUOTA as string,\n\t\tSALES_PERSON_BONUS as string,\n\t\tCOMMISSION_PCT as string,\n\t\tSALES_YTD as string,\n\t\tSALES_LAST_YEAR as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> HubStoreWarehouse\nsource(output(\n\t\tHK_L_STORE_WAREHOUSE as binary,\n\t\tHK_STORE_ID as binary,\n\t\tHK_WAREHOUSE_ID as binary,\n\t\tLOAD_DTS as timestamp,\n\t\tREC_SRC as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> StoreWarehouseSource\nHubStoreWarehouse select(mapColumn(\n\t\tSTORE_ID,\n\t\tWAREHOUSE_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectTransformation\nSelectTransformation derive(LOAD_DTS = currentTimestamp(),\n\t\tREC_SRC = 'StoreWarehouse_Info',\n\t\tHK_STORE_WAREHOUSE = md5Binary(concat(STORE_ID,WAREHOUSE_ID)),\n\t\tHK_STORE_ID = md5Binary(STORE_ID),\n\t\tHK_WAREHOUSE_ID = md5Binary(WAREHOUSE_ID)) ~> DataConversion\nDataConversion, StoreWarehouseSource exists(DataConversion@HK_STORE_ID == StoreWarehouseSource@HK_STORE_ID\n\t&& DataConversion@HK_WAREHOUSE_ID == StoreWarehouseSource@HK_WAREHOUSE_ID,\n\tnegate:true,\n\tbroadcast: 'auto')~> OnlyNewRecords\nOnlyNewRecords sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tHK_L_STORE_WAREHOUSE as binary,\n\t\tHK_STORE_ID as binary,\n\t\tHK_WAREHOUSE_ID as binary,\n\t\tLOAD_DTS as timestamp,\n\t\tREC_SRC as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tHK_L_STORE_WAREHOUSE = HK_STORE_WAREHOUSE,\n\t\tHK_STORE_ID,\n\t\tHK_WAREHOUSE_ID,\n\t\tLOAD_DTS,\n\t\tREC_SRC\n\t)) ~> StoreWarehouse"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/StoreSource')]",
				"[concat(variables('factoryId'), '/datasets/Link_Store_Warehouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Hub_Customer')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PostgreSQL_CustomerInfo",
								"type": "DatasetReference"
							},
							"name": "CustomerInfo"
						},
						{
							"dataset": {
								"referenceName": "HubCustomer",
								"type": "DatasetReference"
							},
							"name": "HubCustomerSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "HubCustomer",
								"type": "DatasetReference"
							},
							"name": "HubCustomer"
						}
					],
					"transformations": [
						{
							"name": "SelectTransformation"
						},
						{
							"name": "DataConversion"
						},
						{
							"name": "LoadNewRecordsOnly"
						}
					],
					"script": "source(output(\n\t\tcustomer_id as string,\n\t\tsalutation as string,\n\t\tfirst_name as string,\n\t\tlast_name as string,\n\t\tdob as date,\n\t\tbirth_country as string,\n\t\temail_address as string,\n\t\tphone_number as string,\n\t\tphone_number_type as string,\n\t\taddress_id as string,\n\t\tcountry as string,\n\t\tcounty as string,\n\t\tstate as string,\n\t\tcity as string,\n\t\tstreet_number as string,\n\t\tstreet_name as string,\n\t\tzip as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> CustomerInfo\nsource(output(\n\t\tHK_CUSTOMER_ID as binary,\n\t\tCUSTOMER_ID as string,\n\t\tLOAD_DTS as timestamp,\n\t\tREC_SRC as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> HubCustomerSource\nCustomerInfo select(mapColumn(\n\t\tcustomer_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectTransformation\nSelectTransformation derive(HK_CUSTOMER_ID = md5(customer_id),\n\t\tREC_SRC = \"Customer_Info\",\n\t\tDatetime = currentDate(),\n\t\tCust_Id = customer_id) ~> DataConversion\nDataConversion, HubCustomerSource exists(SelectTransformation@customer_id == HubCustomerSource@CUSTOMER_ID,\n\tnegate:true,\n\tbroadcast: 'auto')~> LoadNewRecordsOnly\nLoadNewRecordsOnly sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tHK_CUSTOMER_ID as binary,\n\t\tCUSTOMER_ID as string,\n\t\tLOAD_DTS as timestamp,\n\t\tREC_SRC as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tCUSTOMER_ID = Cust_Id,\n\t\tHK_CUSTOMER_ID,\n\t\tREC_SRC,\n\t\tLOAD_DTS = Datetime\n\t)) ~> HubCustomer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PostgreSQL_CustomerInfo')]",
				"[concat(variables('factoryId'), '/datasets/HubCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Hub_Store')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "StoreSource",
								"type": "DatasetReference"
							},
							"name": "StoreSource"
						},
						{
							"dataset": {
								"referenceName": "HubStore",
								"type": "DatasetReference"
							},
							"name": "HubStoreSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "HubStore",
								"type": "DatasetReference"
							},
							"name": "HubStore"
						}
					],
					"transformations": [
						{
							"name": "SelectTransformation"
						},
						{
							"name": "DataConversion"
						},
						{
							"name": "LoadNewRecordsOnly"
						}
					],
					"script": "source(output(\n\t\tSTORE_ID as string,\n\t\tWAREHOUSE_ID as string,\n\t\tWAREHOUSE_NAME as string,\n\t\tWAREHOUSE_COUNTRY as string,\n\t\tWAREHOUSE_STATE as string,\n\t\tWAREHOUSE_CITY as string,\n\t\tWAREHOUSE_STREET_NUMBER as string,\n\t\tWAREHOUSE_STREET_NAME as string,\n\t\tWAREHOUSE_STREET_TYPE as string,\n\t\tWAREHOUSE_ZIP as string,\n\t\tSTORE_NAME as string,\n\t\tSTORE_COUNTRY as string,\n\t\tSTORE_COUNTY as string,\n\t\tSTORE_STATE as string,\n\t\tSTORE_CITY as string,\n\t\tSTORE_STREET_NUMBER as string,\n\t\tSTORE_STREET_NAME as string,\n\t\tSTORE_ZIP as string,\n\t\tNUMBER_EMPLOYEES as string,\n\t\tWORKING_HOURS as string,\n\t\tMANAGER_NAME as string,\n\t\tSALES_PERSON_ID as string,\n\t\tSALES_PERSON_TYP as string,\n\t\tSALES_PERSON_TITLE as string,\n\t\tSALES_PERSON_FIRST_NAME as string,\n\t\tSALES_PERSON_LAST_NAME as string,\n\t\tSALES_PERSON_SUFFIX as string,\n\t\tSALES_PERSON_EMAIL_ADDRESS as string,\n\t\tSALES_PERSON_PHONE_NUMBER as string,\n\t\tSALES_PERSON_PHONE_NUMBER_TYPE as string,\n\t\tSALES_QUOTA as string,\n\t\tSALES_PERSON_BONUS as string,\n\t\tCOMMISSION_PCT as string,\n\t\tSALES_YTD as string,\n\t\tSALES_LAST_YEAR as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> StoreSource\nsource(output(\n\t\tHK_STORE_ID as binary,\n\t\tSTORE_ID as string,\n\t\tLOAD_DTS as timestamp,\n\t\tREC_SRC as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> HubStoreSource\nStoreSource select(mapColumn(\n\t\tSTORE_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectTransformation\nSelectTransformation derive(HK_STORE_ID = md5Binary(STORE_ID),\n\t\tDatetime = currentDate(),\n\t\tRecordSource = \"Store_Info\") ~> DataConversion\nDataConversion, HubStoreSource exists(SelectTransformation@STORE_ID == HubStoreSource@STORE_ID,\n\tnegate:true,\n\tbroadcast: 'auto')~> LoadNewRecordsOnly\nLoadNewRecordsOnly sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tHK_STORE_ID as binary,\n\t\tSTORE_ID as string,\n\t\tLOAD_DTS as timestamp,\n\t\tREC_SRC as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tSTORE_ID,\n\t\tHK_STORE_ID,\n\t\tLOAD_DTS = Datetime,\n\t\tREC_SRC = RecordSource\n\t)) ~> HubStore"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/StoreSource')]",
				"[concat(variables('factoryId'), '/datasets/HubStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Hub_Warehouse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "StoreSource",
								"type": "DatasetReference"
							},
							"name": "WarehouseSource"
						},
						{
							"dataset": {
								"referenceName": "HubWarehouse",
								"type": "DatasetReference"
							},
							"name": "HubWarehouseSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "HubWarehouse",
								"type": "DatasetReference"
							},
							"name": "HubWarehouse"
						}
					],
					"transformations": [
						{
							"name": "SelectTransformation"
						},
						{
							"name": "DataConversion"
						},
						{
							"name": "LoadNewRecordsOnly"
						}
					],
					"script": "source(output(\n\t\tSTORE_ID as string,\n\t\tWAREHOUSE_ID as string,\n\t\tWAREHOUSE_NAME as string,\n\t\tWAREHOUSE_COUNTRY as string,\n\t\tWAREHOUSE_STATE as string,\n\t\tWAREHOUSE_CITY as string,\n\t\tWAREHOUSE_STREET_NUMBER as string,\n\t\tWAREHOUSE_STREET_NAME as string,\n\t\tWAREHOUSE_STREET_TYPE as string,\n\t\tWAREHOUSE_ZIP as string,\n\t\tSTORE_NAME as string,\n\t\tSTORE_COUNTRY as string,\n\t\tSTORE_COUNTY as string,\n\t\tSTORE_STATE as string,\n\t\tSTORE_CITY as string,\n\t\tSTORE_STREET_NUMBER as string,\n\t\tSTORE_STREET_NAME as string,\n\t\tSTORE_ZIP as string,\n\t\tNUMBER_EMPLOYEES as string,\n\t\tWORKING_HOURS as string,\n\t\tMANAGER_NAME as string,\n\t\tSALES_PERSON_ID as string,\n\t\tSALES_PERSON_TYP as string,\n\t\tSALES_PERSON_TITLE as string,\n\t\tSALES_PERSON_FIRST_NAME as string,\n\t\tSALES_PERSON_LAST_NAME as string,\n\t\tSALES_PERSON_SUFFIX as string,\n\t\tSALES_PERSON_EMAIL_ADDRESS as string,\n\t\tSALES_PERSON_PHONE_NUMBER as string,\n\t\tSALES_PERSON_PHONE_NUMBER_TYPE as string,\n\t\tSALES_QUOTA as string,\n\t\tSALES_PERSON_BONUS as string,\n\t\tCOMMISSION_PCT as string,\n\t\tSALES_YTD as string,\n\t\tSALES_LAST_YEAR as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> WarehouseSource\nsource(output(\n\t\tHK_WAREHOUSE_ID as binary,\n\t\tWAREHOUSE_ID as string,\n\t\tLOAD_DTS as timestamp,\n\t\tREC_SRC as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> HubWarehouseSource\nWarehouseSource select(mapColumn(\n\t\tWAREHOUSE_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectTransformation\nSelectTransformation derive(HK_WAREHOUSE_ID = md5(WAREHOUSE_ID),\n\t\tDatetime = currentDate(),\n\t\tRecordSource = \"Store_Info\") ~> DataConversion\nDataConversion, HubWarehouseSource exists(SelectTransformation@WAREHOUSE_ID == HubWarehouseSource@WAREHOUSE_ID,\n\tnegate:true,\n\tbroadcast: 'auto')~> LoadNewRecordsOnly\nLoadNewRecordsOnly sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tHK_WAREHOUSE_ID as binary,\n\t\tWAREHOUSE_ID as string,\n\t\tLOAD_DTS as timestamp,\n\t\tREC_SRC as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tHK_WAREHOUSE_ID,\n\t\tWAREHOUSE_ID,\n\t\tLOAD_DTS = Datetime,\n\t\tREC_SRC = RecordSource\n\t)) ~> HubWarehouse"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/StoreSource')]",
				"[concat(variables('factoryId'), '/datasets/HubWarehouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Sat_Customer')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PostgreSQL_CustomerInfo",
								"type": "DatasetReference"
							},
							"name": "CustomerInfo"
						},
						{
							"dataset": {
								"referenceName": "SatCustomer",
								"type": "DatasetReference"
							},
							"name": "SATCustomerSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SatCustomer",
								"type": "DatasetReference"
							},
							"name": "SatCustomer"
						}
					],
					"transformations": [
						{
							"name": "SelectTransformation"
						},
						{
							"name": "DataConversion"
						},
						{
							"name": "LoadNewRecordsOnly"
						}
					],
					"script": "source(output(\n\t\tcustomer_id as string,\n\t\tsalutation as string,\n\t\tfirst_name as string,\n\t\tlast_name as string,\n\t\tdob as date,\n\t\tbirth_country as string,\n\t\temail_address as string,\n\t\tphone_number as string,\n\t\tphone_number_type as string,\n\t\taddress_id as string,\n\t\tcountry as string,\n\t\tcounty as string,\n\t\tstate as string,\n\t\tcity as string,\n\t\tstreet_number as string,\n\t\tstreet_name as string,\n\t\tzip as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> CustomerInfo\nsource(output(\n\t\tHK_CUSTOMER_ID as binary,\n\t\tLOAD_DTS as timestamp,\n\t\tSALUTATION as string,\n\t\tFIRST_NAME as string,\n\t\tLAST_NAME as string,\n\t\tDOB as timestamp,\n\t\tBIRTH_COUNTRY as string,\n\t\tEMAIL_ADDRESS as string,\n\t\tREC_SRC as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SATCustomerSource\nCustomerInfo select(mapColumn(\n\t\tcustomer_id,\n\t\tsalutation,\n\t\tfirst_name,\n\t\tlast_name,\n\t\tdob,\n\t\tbirth_country,\n\t\temail_address\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectTransformation\nSelectTransformation derive(HK_CUSTOMER_ID = md5Binary(customer_id),\n\t\tDatetime = currentDate(),\n\t\tREC_SRC = \"Customer_Info\") ~> DataConversion\nDataConversion, SATCustomerSource exists(SelectTransformation@first_name == SATCustomerSource@FIRST_NAME,\n\tnegate:true,\n\tbroadcast: 'auto')~> LoadNewRecordsOnly\nLoadNewRecordsOnly sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tHK_CUSTOMER_ID as binary,\n\t\tLOAD_DTS as timestamp,\n\t\tSALUTATION as string,\n\t\tFIRST_NAME as string,\n\t\tLAST_NAME as string,\n\t\tDOB as timestamp,\n\t\tBIRTH_COUNTRY as string,\n\t\tEMAIL_ADDRESS as string,\n\t\tREC_SRC as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tHK_CUSTOMER_ID,\n\t\tSALUTATION = salutation,\n\t\tFIRST_NAME = first_name,\n\t\tLAST_NAME = last_name,\n\t\tDOB = dob,\n\t\tBIRTH_COUNTRY = birth_country,\n\t\tEMAIL_ADDRESS = email_address,\n\t\tLOAD_DTS = Datetime,\n\t\tREC_SRC\n\t)) ~> SatCustomer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PostgreSQL_CustomerInfo')]",
				"[concat(variables('factoryId'), '/datasets/SatCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Sat_Store')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "StoreSource",
								"type": "DatasetReference"
							},
							"name": "SourceStore"
						},
						{
							"dataset": {
								"referenceName": "SATStore",
								"type": "DatasetReference"
							},
							"name": "SATStoreSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SATStore",
								"type": "DatasetReference"
							},
							"name": "SatStore"
						}
					],
					"transformations": [
						{
							"name": "SelectTransformation"
						},
						{
							"name": "DataConversion"
						},
						{
							"name": "LoadNewRecordsOnly"
						}
					],
					"script": "source(output(\n\t\tSTORE_ID as string,\n\t\tWAREHOUSE_ID as string,\n\t\tWAREHOUSE_NAME as string,\n\t\tWAREHOUSE_COUNTRY as string,\n\t\tWAREHOUSE_STATE as string,\n\t\tWAREHOUSE_CITY as string,\n\t\tWAREHOUSE_STREET_NUMBER as string,\n\t\tWAREHOUSE_STREET_NAME as string,\n\t\tWAREHOUSE_STREET_TYPE as string,\n\t\tWAREHOUSE_ZIP as string,\n\t\tSTORE_NAME as string,\n\t\tSTORE_COUNTRY as string,\n\t\tSTORE_COUNTY as string,\n\t\tSTORE_STATE as string,\n\t\tSTORE_CITY as string,\n\t\tSTORE_STREET_NUMBER as string,\n\t\tSTORE_STREET_NAME as string,\n\t\tSTORE_ZIP as string,\n\t\tNUMBER_EMPLOYEES as string,\n\t\tWORKING_HOURS as string,\n\t\tMANAGER_NAME as string,\n\t\tSALES_PERSON_ID as string,\n\t\tSALES_PERSON_TYP as string,\n\t\tSALES_PERSON_TITLE as string,\n\t\tSALES_PERSON_FIRST_NAME as string,\n\t\tSALES_PERSON_LAST_NAME as string,\n\t\tSALES_PERSON_SUFFIX as string,\n\t\tSALES_PERSON_EMAIL_ADDRESS as string,\n\t\tSALES_PERSON_PHONE_NUMBER as string,\n\t\tSALES_PERSON_PHONE_NUMBER_TYPE as string,\n\t\tSALES_QUOTA as string,\n\t\tSALES_PERSON_BONUS as string,\n\t\tCOMMISSION_PCT as string,\n\t\tSALES_YTD as string,\n\t\tSALES_LAST_YEAR as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> SourceStore\nsource(output(\n\t\tHK_STORE_ID as binary,\n\t\tLOAD_DTS as timestamp,\n\t\tSTORE_NAME as string,\n\t\tNUMBER_EMPLOYEES as integer,\n\t\tWORKING_HOURS as string,\n\t\tMANAGER_NAME as string,\n\t\tSTREET_NUMBER as string,\n\t\tSTREET_NAME as string,\n\t\tCITY as string,\n\t\tCOUNTY as string,\n\t\tSTATE as string,\n\t\tZIP as string,\n\t\tCOUNTRY as string,\n\t\tREC_SRC as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SATStoreSource\nSourceStore select(mapColumn(\n\t\tSTORE_ID,\n\t\tSTORE_NAME,\n\t\tNUMBER_EMPLOYEES,\n\t\tWORKING_HOURS,\n\t\tMANAGER_NAME,\n\t\tSTORE_STREET_NUMBER,\n\t\tSTORE_STREET_NAME,\n\t\tSTORE_CITY,\n\t\tSTORE_COUNTY,\n\t\tSTORE_STATE,\n\t\tSTORE_ZIP,\n\t\tSTORE_COUNTRY\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectTransformation\nSelectTransformation derive(HK_STORE_ID = md5Binary(STORE_ID),\n\t\tDatetime = currentDate(),\n\t\tRecordSource = \"StoreInfo\",\n\t\tEmployees_count = toInteger(NUMBER_EMPLOYEES)) ~> DataConversion\nDataConversion, SATStoreSource exists(SelectTransformation@STORE_NAME == SATStoreSource@STORE_NAME\n\t&& DataConversion@HK_STORE_ID == SATStoreSource@HK_STORE_ID\n\t&& Employees_count == SATStoreSource@NUMBER_EMPLOYEES\n\t&& SelectTransformation@MANAGER_NAME == SATStoreSource@MANAGER_NAME\n\t&& SelectTransformation@WORKING_HOURS == SATStoreSource@WORKING_HOURS\n\t&& STORE_STREET_NUMBER == STREET_NUMBER\n\t&& STORE_STREET_NAME == STREET_NAME\n\t&& STORE_CITY == CITY\n\t&& STORE_COUNTRY == COUNTY\n\t&& STORE_ZIP == ZIP,\n\tnegate:true,\n\tbroadcast: 'auto')~> LoadNewRecordsOnly\nLoadNewRecordsOnly sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tHK_STORE_ID as binary,\n\t\tLOAD_DTS as timestamp,\n\t\tSTORE_NAME as string,\n\t\tNUMBER_EMPLOYEES as integer,\n\t\tWORKING_HOURS as string,\n\t\tMANAGER_NAME as string,\n\t\tSTREET_NUMBER as string,\n\t\tSTREET_NAME as string,\n\t\tCITY as string,\n\t\tCOUNTY as string,\n\t\tSTATE as string,\n\t\tZIP as string,\n\t\tCOUNTRY as string,\n\t\tREC_SRC as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tHK_STORE_ID,\n\t\tSTORE_NAME,\n\t\tNUMBER_EMPLOYEES,\n\t\tWORKING_HOURS,\n\t\tMANAGER_NAME,\n\t\tSTREET_NUMBER = STORE_STREET_NUMBER,\n\t\tSTREET_NAME = STORE_STREET_NAME,\n\t\tCITY = STORE_CITY,\n\t\tCOUNTY = STORE_COUNTY,\n\t\tSTATE = STORE_STATE,\n\t\tZIP = STORE_ZIP,\n\t\tHK_STORE_ID,\n\t\tLOAD_DTS = Datetime,\n\t\tREC_SRC = RecordSource,\n\t\tCOUNTRY = STORE_COUNTRY\n\t)) ~> SatStore"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/StoreSource')]",
				"[concat(variables('factoryId'), '/datasets/SATStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Sat_Warehouse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "StoreSource",
								"type": "DatasetReference"
							},
							"name": "WarehouseSource"
						},
						{
							"dataset": {
								"referenceName": "SatWarehouse",
								"type": "DatasetReference"
							},
							"name": "SATWarehouseSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SatWarehouse",
								"type": "DatasetReference"
							},
							"name": "SatWarehouse"
						}
					],
					"transformations": [
						{
							"name": "SelectTransformation"
						},
						{
							"name": "DataConversion"
						},
						{
							"name": "LoadNewRecordsOnly"
						}
					],
					"script": "source(output(\n\t\tSTORE_ID as string,\n\t\tWAREHOUSE_ID as string,\n\t\tWAREHOUSE_NAME as string,\n\t\tWAREHOUSE_COUNTRY as string,\n\t\tWAREHOUSE_STATE as string,\n\t\tWAREHOUSE_CITY as string,\n\t\tWAREHOUSE_STREET_NUMBER as string,\n\t\tWAREHOUSE_STREET_NAME as string,\n\t\tWAREHOUSE_STREET_TYPE as string,\n\t\tWAREHOUSE_ZIP as string,\n\t\tSTORE_NAME as string,\n\t\tSTORE_COUNTRY as string,\n\t\tSTORE_COUNTY as string,\n\t\tSTORE_STATE as string,\n\t\tSTORE_CITY as string,\n\t\tSTORE_STREET_NUMBER as string,\n\t\tSTORE_STREET_NAME as string,\n\t\tSTORE_ZIP as string,\n\t\tNUMBER_EMPLOYEES as string,\n\t\tWORKING_HOURS as string,\n\t\tMANAGER_NAME as string,\n\t\tSALES_PERSON_ID as string,\n\t\tSALES_PERSON_TYP as string,\n\t\tSALES_PERSON_TITLE as string,\n\t\tSALES_PERSON_FIRST_NAME as string,\n\t\tSALES_PERSON_LAST_NAME as string,\n\t\tSALES_PERSON_SUFFIX as string,\n\t\tSALES_PERSON_EMAIL_ADDRESS as string,\n\t\tSALES_PERSON_PHONE_NUMBER as string,\n\t\tSALES_PERSON_PHONE_NUMBER_TYPE as string,\n\t\tSALES_QUOTA as string,\n\t\tSALES_PERSON_BONUS as string,\n\t\tCOMMISSION_PCT as string,\n\t\tSALES_YTD as string,\n\t\tSALES_LAST_YEAR as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> WarehouseSource\nsource(output(\n\t\tHK_WAREHOUSE_ID as binary,\n\t\tLOAD_DTS as timestamp,\n\t\tWAREHOUSE_NAME as string,\n\t\tSTREET_NUMBER as string,\n\t\tSTREET_NAME as string,\n\t\tSTREET_TYPE as string,\n\t\tCITY as string,\n\t\tSTATE as string,\n\t\tZIP as string,\n\t\tCOUNTRY as string,\n\t\tREC_SRC as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SATWarehouseSource\nWarehouseSource select(mapColumn(\n\t\tWAREHOUSE_ID,\n\t\tWAREHOUSE_NAME,\n\t\tWAREHOUSE_COUNTRY,\n\t\tWAREHOUSE_STATE,\n\t\tWAREHOUSE_CITY,\n\t\tWAREHOUSE_STREET_NUMBER,\n\t\tWAREHOUSE_STREET_NAME,\n\t\tWAREHOUSE_STREET_TYPE,\n\t\tWAREHOUSE_ZIP\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectTransformation\nSelectTransformation derive(HK_WAREHOUSE_ID = md5Binary(WAREHOUSE_ID),\n\t\tDatetime = currentDate(),\n\t\tRecordSource = \"Store_Info\") ~> DataConversion\nDataConversion, SATWarehouseSource exists(SelectTransformation@WAREHOUSE_NAME == SATWarehouseSource@WAREHOUSE_NAME\n\t&& WAREHOUSE_COUNTRY == COUNTRY\n\t&& WAREHOUSE_STATE == STATE\n\t&& WAREHOUSE_CITY == CITY\n\t&& WAREHOUSE_STREET_NUMBER == STREET_NUMBER\n\t&& WAREHOUSE_STREET_NAME == STREET_NAME\n\t&& WAREHOUSE_STREET_TYPE == STREET_TYPE\n\t&& WAREHOUSE_ZIP == ZIP\n\t&& DataConversion@HK_WAREHOUSE_ID == SATWarehouseSource@HK_WAREHOUSE_ID,\n\tnegate:true,\n\tbroadcast: 'auto')~> LoadNewRecordsOnly\nLoadNewRecordsOnly sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tHK_WAREHOUSE_ID as binary,\n\t\tLOAD_DTS as timestamp,\n\t\tWAREHOUSE_NAME as string,\n\t\tSTREET_NUMBER as string,\n\t\tSTREET_NAME as string,\n\t\tSTREET_TYPE as string,\n\t\tCITY as string,\n\t\tSTATE as string,\n\t\tZIP as string,\n\t\tCOUNTRY as string,\n\t\tREC_SRC as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tHK_WAREHOUSE_ID,\n\t\tLOAD_DTS = Datetime,\n\t\tWAREHOUSE_NAME,\n\t\tSTREET_NUMBER = WAREHOUSE_STREET_NUMBER,\n\t\tSTREET_NAME = WAREHOUSE_STREET_NAME,\n\t\tSTREET_TYPE = WAREHOUSE_STREET_TYPE,\n\t\tCITY = WAREHOUSE_CITY,\n\t\tSTATE = WAREHOUSE_STATE,\n\t\tZIP = WAREHOUSE_ZIP,\n\t\tCOUNTRY = WAREHOUSE_COUNTRY,\n\t\tREC_SRC = RecordSource\n\t)) ~> SatWarehouse"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/StoreSource')]",
				"[concat(variables('factoryId'), '/datasets/SatWarehouse')]"
			]
		}
	]
}